.exploreCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 3px;
  padding: 2rem;
  height: auto;
}

.skills {
  color: #555;
  font-size: 0.75rem;
  flex-wrap: wrap;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.4rem;
}
