.exploreCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--borderPrimary);
  border-radius: 5px;
  padding: 2rem;
  height: auto;
}

.skills {
  display: flex;
  gap: 0.3rem;
  background: var(--bgSecondary);
  border: var(--borderPrimary);
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  flex-wrap: wrap;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.4rem;
}
