.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  max-width: 800px;
  margin: 2rem auto 0;
  font-family: "Space Grotesk", sans-serif;
}

.about .hero h1 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 700;
  text-align: left;
}

.about .hero .heroImage {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.aboutSection {
  margin: 0 0 3rem;
}

.aboutSection .aboutImage {
  position: relative;
}

.aboutSection .aboutImage svg {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -40px;
  width: 100px;
  height: 100px;
  transform: rotate(-20deg);
}

.aboutSection .aboutText {
  margin: 6rem 0 4rem;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.8;
  line-height: 2.2;
}

.aboutSection .aboutText .highlight {
  font-size: 80px;
  line-height: normal;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--primaryColor);
}

.testimonials h2 {
  font-size: 2rem;
  text-align: center;
}

.testimonialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
}

.testimonialContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}

@media (max-width: 900px) {
  .aboutSection .aboutImage {
    width: 100%;
  }
}