.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  max-width: 800px;
  margin: 2rem auto 0;
}

.about .hero h1 {
  line-height: 1.2;
}

.about .hero .heroImage {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.aboutSection {
  margin: 0 0 3rem;
}

.aboutSection .aboutImage {
  position: relative;
}

.aboutSection .aboutImage svg {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100px;
  height: 100px;
  transform: rotate(-20deg);
}

.aboutSection .aboutText {
  margin: 3rem 0 0;
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.8;
  line-height: 2.2;
}

.aboutSection .aboutText .highlight {
  font-size: 80px;
  line-height: normal;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--primaryColor);
}

@media (max-width: 900px) {
  .about .hero .heroImage {
    column-gap: 2rem;
    row-gap: 0.8rem;
    margin: 2.5rem 0 3rem;
  }

  .about .hero .heroImage svg {
    width: 105px;
    height: auto;
  }

  .aboutSection .aboutImage {
    width: 100%;
  }

  .aboutSection .aboutImage svg {
    right: 20px;
    width: 80px;
    height: 80px;
  }

  .aboutSection .aboutText {
    font-size: 1rem;
  }
}
