.container {
  max-width: 800px;
  margin: 2rem auto 0;
  padding: 1.4rem;
}

.container input,
.container textarea {
  padding: 0.7rem 1rem;
  border: var(--borderPrimary);
  background: var(--bgSecondary);
  outline: none;
}

.container input:focus,
.container textarea:focus {
  border-color: var(--bgTertiary);
}
