.snippet {
  min-height: 240px;
  min-width: 60%;
  padding: 1.7rem;
  background: #111;
  color: white;
  box-shadow: var(--shadow);
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #5c5c5c;
  top: 6px;
  left: 20px;
  border-radius: 100%;
}
.dot:nth-child(2) {
  left: 30px;
}
.dot:nth-child(3) {
  left: 40px;
}

.logContainer {
  display: grid;
  grid-template-columns: 2fr 3px 2.5fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.logContainer blockquote {
  border-bottom: none;
}

.logContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: var(--borderPrimary);
  padding-right: 1rem;
}

.node {
  position: absolute;
  left: -15px;
  top: -35px;
  opacity: 0.5;
}

@media (max-width: 900px) {
  .logContainer {
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    row-gap: 0.6rem;
    row-gap: 0.2rem;
  }

  .logContainer blockquote {
    border-bottom: var(--borderPrimary);
  }

  .logContent {
    border-right: none;
    padding: 1.5rem 1rem;
  }

  .node {
    transform: rotate(90deg);
    top: -25px;
    display: none;
  }
}
