.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 1.5rem;
}

.searchBar {
  padding: 1.5rem 2.5rem;
  margin: 3rem 0;
  min-width: 600px;
  border-radius: 20px;
  border: 1px solid #ddd;
  width: 92%;
  font-size: 0.9rem;
  background: none;
  border-width: 0;
  outline: none;
  transition: 0.1s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  padding-left: 20px;
  padding-right: 20px;
}

.searchBar div {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: 0.2s ease-in-out;
  max-width: 850px;
  height: 54px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.searchBar button {
  background: orangered;
  color: #fff;
  width: 8%;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border: 1px solid orangered;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
