@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --bgDark: #000000;
  --textColor: #222222;
  --textColor2: #333333;
  --primaryColor: #3a52ee;
  --secondaryColor: #3246c9;
  --darkGrey: #bfbfbf;
  --lightGrey: #f4f4f4;
  --bgLight: #ffffff;
  --fontPrimary: "Space Grotesk", Monospace, sans-serif;
  --fontSecondary: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: var(--fontPrimary), sans-serif;
  background: var(--bgLight);
  color: var(--textColor);
}

img {
  display: block;
}

p,
small,
b,
h3 {
  font-family: var(--fontSecondary), sans-serif;
  color: var(--textColor2);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.borderLight {
  border: 1px solid #ddd;
}

.btn {
  outline: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background: var(--primaryColor);
  color: var(--bgLight);
}

.btn-primary:hover {
  background: var(--secondaryColor);
}

.btn-dark {
  background: var(--bgDark);
  color: var(--bgLight);
}

.btn-dark:hover {
  background: var(--textColor);
}

.highlight {
  color: var(--primaryColor);
}

.loader {
  width: 48px !important;
  height: 48px !important;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: block;
  background: red;
}

/* Animations */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
