@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --bgPrimary: #ffffff;
  --bgSecondary: #fafafa;
  --bgAlternate: #000000;
  --textColorPrimary: #111111;
  --textColorSecondary: #333333;
  --textColorAlternate: #ffffff;
  --primaryColor: #3a52ee;
  --secondaryColor: #3246c9;
  --bgTertiary: #bfbfbf;
  --miscColor: #f4f4f4;
  --borderPrimary: 1px solid #dddddd;
  --borderSecondary: 1px solid #777777;
  --filterPrimary: none;
  --shadow: 0px 0px 30px 0 rgb(82, 255, 168);
}

[data-theme="dark"] {
  --bgPrimary: #000000;
  --bgSecondary: #111111;
  --bgAlternate: #ffffff;
  --textColorPrimary: #fff;
  --textColorSecondary: #dddddd;
  --textColorAlternate: #111111;
  --primaryColor: #3a52ee;
  --secondaryColor: #3246c9;
  --bgTertiary: #777777;
  --miscColor: ##111111;
  --borderPrimary: 1px solid #222222;
  --borderSecondary: 1px solid #333333;
  --filterPrimary: grayscale(10%) brightness(19%) saturate(0%) contrast(98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  background: var(--bgPrimary);
  color: var(--textColorPrimary);
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
button::before,
button::after,
button:focus {
  outline: none;
  border: none;
}

.buttonShadow {
  box-shadow: var(--shadow);
}

.borderLight {
  border: var(--borderPrimary);
}

.btn {
  outline: none;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-primary {
  background: var(--primaryColor);
  color: white;
}

.btn-primary:hover {
  background: var(--secondaryColor);
}

.btn-dark {
  background: var(--bgAlternate);
  color: var(--textColorAlternate);
}

.btn-dark:hover {
  background: var(--bgPrimary);
  color: var(--textColorPrimary);
  border: var(--borderPrimary);
}

.highlight {
  color: var(--primaryColor);
}

.highlight-bg {
  background: var(--bgPrimary);
  border: var(--borderPrimary);
}

/* Loader */
.loader {
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}

.loaderLight {
  width: 18px;
  height: 18px;
  border: 2.5px solid #fff;
  border-bottom-color: transparent;
}

.loaderDark {
  width: 35px;
  height: 35px;
  border: 3px solid #000;
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
