.hero {
  text-align: center;
  margin: 4rem auto 1rem;
  padding-bottom: 0 1rem 1rem;
  max-width: 900px;
  overflow-x: hidden;
}

.hero h1 {
  line-height: 1;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  text-align: center;
}

.hero p {
  max-width: 600px;
  margin: 2rem auto 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
}

.iconOne {
  position: relative;
  z-index: -20;
}

.iconOne::before {
  content: "";
  position: absolute;
  right: -85px;
  top: 10px;
  background-image: url(/images/icon-three.svg);
  background-size: 35px;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

.iconTwo {
  position: relative;
  z-index: -20;
  color: var(--primaryColor);
}

.iconTwo::before {
  content: "";
  position: absolute;
  right: -70px;
  top: -10px;
  background-image: url(/images/icon-one.svg);
  background-size: 35px;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  transform: rotate(180deg);
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 0.8rem;
  border-radius: 5px;
  margin: 1.25rem;
  background: var(--bgDark);
  width: 250px;
  color: var(--bgLight);
}

.homeProfile {
  z-index: 1;
  position: relative;
  min-height: 900px;
}

.homeProfile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: url(/maps.svg) no-repeat center center/ cover;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 2.8rem;
  }

  .iconTwo::before,
  .iconOne::before {
    right: -140px;
    top: -30px;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 2.3rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .hero {
    margin-top: 3rem;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .btn {
    width: 90%;
  }
}
