.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-width: 900px;
  margin: 0 auto;
}

.container h1 {
  font-size: 6vw;
  font-weight: 700;
  color: var(--primaryColor);
}

.container p {
  font-size: 0.9rem;
}
