/* Card */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  height: auto;
  width: 280px;
  cursor: cell;
}

.name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
}

.job {
  margin-bottom: 1rem;
}

.badge {
  display: flex;
  align-items: center;
}

.count {
  margin-left: 0.3rem;
}
