.head {
  display: flex;
  align-items: center;
  padding: 3rem 1rem 4rem 5rem;
  gap: 5rem;
  max-width: 1280px;
  margin: 0 auto;
}

.headEnd {
  max-width: 600px;
}

.social {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  column-gap: 1.7rem;
  margin-top: 1rem;
}

.social a {
  font-weight: 600;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

.social a:hover {
  color: var(--primaryColor);
}

.line {
  display: flex;
  align-items: center;
  border-bottom: var(--borderPrimary);
  padding: 3rem 1.5rem 0 2.5rem;
  color: var(--textColor2);
  column-gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.line a:hover {
  color: var(--textColorSecondary);
}
