.jumbotron {
  background-color: var(--bgSecondary);
}

.jumbotron div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 500px;
  max-width: 800px;
  margin: 0 auto;
  color: var(--bgLight);
  padding: 1rem;
}

@media (max-width: 800px) {
  .jumbotron h2 {
    font-size: 2.5rem;
    line-height: 1.01;
    margin-bottom: 1.4rem;
  }
}

@media (max-width: 600px) {
  .jumbotron h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 400px) {
  .jumbotron h2 {
    font-size: 2em;
  }
}
