.jumbotron {
  background-color: var(--primaryColor);
}

.jumbotron div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  max-width: 900px;
  margin: 0 auto;
  color: var(--bgLight);
  padding: 3rem 1rem 1rem;
}

.jumbotron span {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.jumbotron h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
}