.jumbotron {
  background-color: var(--primaryColor);
}

.jumbotron div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 380px;
  max-width: 830px;
  margin: 0 auto;
  color: var(--bgLight);
  padding: 3rem 1rem 1rem;
}

.jumbotron span {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.jumbotron h2 {
  line-height: 1;
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: -1px;
}

@media (max-width: 800px) {
  .jumbotron h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 600px) {
  .jumbotron h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 400px) {
  .jumbotron h2 {
    font-size: 2rem;
  }
}
